<div id="app1">
    vue 测试
    <button @click="test()"></button>
</div>
<script src="https://unpkg.com/petite-vue"></script>
<script>
  PetiteVue.createApp({
    test() {
        console.log('dianji ~~')
    }
  }).mount('#app1')
  console.log(123, 'vue 测试')
</script>
