<div id="app1">
    vue 测试
    <button @click="test()"></button>
</div>
<script src="https://unpkg.com/petite-vue"></script>
<script>
  PetiteVue.createApp({
    test() {
    }
  }).mount('#app1')
</script>
