<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbs 模版创建</title>
</head>
<body>
    {{ message }}
    {{log 'this is a simple log output'}}
</body>
</html>